extends layout

block head
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src='/javascripts/studentadmin.js')
  script(src='/javascripts/jquery.ui.widget.js')
  script(src='/javascripts/jquery.iframe-transport.js')
  script(src='/javascripts/jquery.fileupload.js')
  script(defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js")
  
block content
  div.editing-mode
    a#editing-mode-link(href='javascript:void(0)')
      | Режим редактирования
  h1(style='margin-bottom: 10px;' data-firstname=student.name.firstName data-lastname=student.name.lastName data-patronymic=student.name.patronymic data-group=student.group.name data-id=student._id) 
    span.student-fullname #{student.fullName}
    a#student-name-edit-link(href='javascript:void(0)' data-url='/student/editname/'+student._id)
      i.fas.fa-pencil-alt(style="font-size: 20px; color: green; margin-left: 5px;")
    span.glass(style='display: none')
      i.fas.fa-glass-martini.fa-spin(style="font-size: 20px; color: red; margin-left: 5px;")
  div.student-data-container
    a(href='/student/printable/'+student._id+'.pdf')
      i.far.fa-file-pdf(style="font-size: 20px; margin-right: 5px;")
      | Сохранить в PDF
    div.student-data
      p Группа: 
        span.student-data-group !{student.group.name}
      p Степень: 
        span.student-data-degree !{student.degree}
      p Год обучения: 
        span.student-data-year !{student.year}
  div.student-ratings
    include includes/ratings-display.pug
  div.student-documents(data-id=student._id)
    table.pure-table.pure-table-bordered
      for document in student.documents
        include includes/document.pug
          
  a.add-document-link(href='javascript:void(0)') + Добавить документ +
  br
  div.add-doc-container-container
    div.add-doc-container
      form(method='POST' action='' data-request_url=request_url)
        input(type='hidden' name='studentid' value=student._id)
        select#select-type(name='type' required)
          option(value='')
            | Выберите тип
          for type in types
            option(value=type.name data-fields=type.fields)
              | #{type.name}
        br
        span.success()
        div#document-creation-area
        div#scope-and-rating
          select#select-scope(name='scope' required)
            option(value='')
              | Сфера деятельности
            for scope in scopes
              option(value=scope.name)
                | #{scope.name}
          input#rating(type='number' min='0' name='rating' value='' required step="0.5" placeholder='Баллы')
        div
          button.pure-button.pure-button-primary#form_submit(type='submit') Подтвердить
          i.submitspinner.fas.fa-spinner.fa-spin(style="font-size: 20px; margin-left: 5px; color: black; vertical-align: middle; display: none")
        button.pure-button#cancel_button(type='button') Отменить
