doctype html
html
  head
    title= title
    link(rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous")
    style
      include ../public/stylesheets/style.css
    meta(name="theme-color" content="#0069ca")
    script(defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js")
  body
    h1(style='margin-bottom: 10px;' data-firstname=student.name.firstName data-lastname=student.name.lastName data-patronymic=student.name.patronymic data-group=student.group.name data-id=student._id) 
      span.student-fullname #{student.fullName} 
      span.student-opt
        if student.name.opt && student.name.opt != ''
          | (#{student.name.opt})
    div.student-data-container
      div.student-data
        p Группа: 
          span.student-data-group !{student.group.name}
        p Степень: 
          span.student-data-degree !{student.degree}
        p Год обучения: 
          span.student-data-year !{student.year}
    div.student-ratings
      include includes/ratings-display.pug
    div.student-documents(data-id=student._id)
      table.pure-table.pure-table-bordered
        for document in student.documents
          include includes/document_pr.pug
